<h2>All Products</h2>
<div class="product">
  <% @products.each do |product| %>
    <p><strong>Name:</strong>
       <%= product.name %></p>
    
    <p><strong>Price:</strong>
       <%= product.name %></p>
    
    <p><strong>Stock_quantity:</strong>
       <%= product.name %></p>
    
    <p><strong>Description:</strong>
       <%= product.description %></p>
    
    <p><strong>Image:</strong>
       <%= product.image %></p>  
   
  <% end %>
</div> 