<h2>All Products</h2>

<% @products.each do |product| %>
  <div class="product">
    <p><strong>Name: <%= product.name %></strong></p>
    
    <p><strong>Category: </strong>
       <%= product.category.name %></p>
    
    <p><strong>Price: $</strong>
       <%= product.price %></p>
    
    <p><strong>Stock_quantity: </strong>
       <%= product.stock_quantity %></p>
    
    <p><strong>Description: </strong>
       <%= product.description %></p>
           
    <p><strong>Image: </strong>
    <% if product.image.present? %>     
        <%= image_tag product.image %></p>
    <% end %>
    <br>
  
  </div>
<% end %>