<h2>Products in Categories</h2>

<%= form_tag search_categories_path, method: :get do %>
  <%= text_field_tag :search_keywords %>
  <%= submit_tag 'Search' %>  
<% end %>


<% @categories.each do |category| %>
  <div class="category">   
    
    <p><strong>Category - </strong>
      <%= link_to category.name, show_categories_path(category) %></p> 
    
<% end %>


<% @products.each do |product| %>
  <div class="product">
    <p><strong>Product ID: <%= link_to product.name, product %></strong></p>
    
    <p><strong>Category: </strong>
       <%= product.category.name %></p>
    
    <p><strong>Price: $</strong>
       <%= product.price %></p>
    
    <p><strong>Stock_quantity: </strong>
       <%= product.stock_quantity %></p>
    
    <p><strong>Status: </strong>
       <%= product.status %></p>
    
    <p><strong>Description: </strong>
       <%= product.description %></p>
           
    <p><strong>Image: </strong>
    <% if product.image.present? %>     
        <%= image_tag product.image %></p>
    <% end %>
    <br>
  
  </div>
<% end %>