<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header>
  <h1>ART DE LIGHT</h1>  
  <nav>
    <li><%= link_to 'Home', root_path %></li>
    <li><%= link_to 'Contact Us', contact_path %></li>
    <li><%= link_to 'About Us', about_path %></li>
    <li><%= link_to 'Categories', category_path %></li>
    <li><%= link_to 'Products', products_path %></li>    
  </nav>
</header>

<br>
<%= yield %>

</body>
</html>
